@header-panel__background-color: #00008b;

@footer__background-color: #1979c3;
@footer-links-color: #fff;
@footer-links-color-hover: #fff;

@tab-control__background-color: #1979c3;
@tab-control__hover__background-color: #1979c3;
@tab-control__active__background-color: #00008b;
@tab-control__color: #fff;
@tab-control__hover__color: @tab-control__color;
@tab-control__active__color: @tab-control__color;
@tab-content__background-color: #fff;

@link__color: #ff5501;
@link__visited__color: #ff5501;

@message-success__background:#00008b;
@message-success__color: #fff;
@message-success-link__color-hover: #fff;
@message-success-icon__color-inner: #fff;

@message-info__background: #1979c3;
@message-info__color: yellow;
@message-info-link__color: #fff;
@message-info-link__color-hover: #fff;
@message-info-icon__color-inner: yellow;

@message-warning__background: #ffcccb;
@message-warning__color: @error__color;
@message-warning-link__color: #1979c3;
@message-warning-link__color-hover: @link__hover__color;
@message-warning-icon__color-inner: @error__color;

